<template>
    <v-app>
        <v-container>
            <v-card flat>
                <div class="text-center">
                    <v-progress-circular
                        v-if="loading"
                        absolute
                        indeterminate
                        color="red"
                    ></v-progress-circular>
                </div>
                <v-card-text>
                    <v-form class="form mt-0" ref="form" method="post" @submit.prevent="storeFeedback">
                        <v-row justify="center">
                            <v-col cols="12" align="left">
                                <h1  class="mb-5 feedback-header">Feedback form</h1>
                            </v-col>
                            <v-col class="pt-0" cols="12" align="left" v-if="successMessage.show">
                                <p class="success-text success-message">{{successMessage.message}}</p>
                            </v-col>
                            <v-col cols="12" sm="6" md="6" class="pt-0">
                                <v-text-field
                                    outlined
                                    v-model="form.customer_name"
                                    :rules="Rules.required"
                                    label="Your name*">
                                </v-text-field>
                            </v-col>
                            <v-col class="pt-0" cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    label="Phone number*"
                                    v-model="form.telephone"
                                    :rules="Rules.phone"
                                >
                                </v-text-field>
                            </v-col>
                            <v-col class="pt-0" cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    label="Postcode*"
                                    v-model="form.postcode"
                                    :rules="Rules.postcode"
                                >
                                </v-text-field>
                            </v-col>
                            <v-col class="pt-0" cols="12" sm="6" md="6">
                                <v-text-field
                                    outlined
                                    label="Job number*"
                                    v-model="form.job_number"
                                    :rules="Rules.jobNumber">
                                </v-text-field>
                            </v-col>
                            <v-col class="pt-0" cols="12">
                                <v-textarea
                                    label="Your feedback*"
                                    outlined
                                    v-model="form.feedback"
                                    :rules="Rules.feedback">
                                </v-textarea>
                            </v-col>
                            <v-col class="pt-0" cols="12" align="left">
                                <p>Please select your overall experience with Bob
                                    the builder.</p>
                            </v-col>
                            <v-col cols="12" align="left"  class="icons pt-0">
                                <div v-for="rating in ratings" class="icon-div">
                                    <v-btn :class="{selected: form.rating === rating.value }" icon @click="getRating(rating.value)"><img  :src="`/img/${rating.icon}`"></v-btn>
                                </div>
                            </v-col>
                            <v-col cols="12" align="left" class="mt-5">
                                <button  @click.prevent="storeFeedback" class="submit-btn">
                                    Submit
                                </button>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-container>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            selected: null,
            ratings: [
                {
                    icon: 'excellent.svg',
                    value: 'Excellent',
                },
                {
                    icon: 'good.svg',
                    value: 'Good',
                },
                {
                    icon: 'average.svg',
                    value: 'Average',
                },
                {
                    icon: 'bad.svg',
                    value: 'Bad',
                },
                {
                    icon: 'awful.svg',
                    value: 'Awful',
                }
            ],
            loading: false,
            successMessage: {
                show: false,
                message: ''
            },
            form: {
                customer_name: '',
                postcode: '',
                job_number: '',
                feedback: '',
                rating: '',
                telephone: '',
            }
        }
    },

    created() {
        this.ratings.icon
    },

    methods: {
        getRating(value) {
            console.log(value)
            this.form.rating = value
        },
        getColor(item) {
            if(item === 'mdi-emoticon')
                return '#0B6623'
            if(item === 'mdi-emoticon-happy')
                return '#C7EA46'
            if(item === 'mdi-emoticon-sad')
                return '#FFF200'
            if(item === 'mdi-emoticon-angry')
                return '#FF0000'

        },
        storeFeedback() {
            this.loading = true
            this.$refs.form.validate()
            axios.post("store", this.form).then(response => {
                this.$refs.form.reset()
                this.successMessage.show = true
                this.successMessage.message = 'Thank you for completing our feedback form.'
                this.loading = false
            }).catch(error => {
                this.loading = false
                console.log(error.response)
            });
        },
    }
}
</script>

<style>
/*.v-btn {*/
/*    color:#47c7ec !important;*/
/*    font-weight: bold;*/
/*}*/


.form {
    padding: 2rem;
}

.icons {
    display: flex;
}

.selected {
    background-color: #d3d3d3;
}

.notselected {
    background:transparent;
}

.feedback-header {
    top: 194px;
    left: 341px;
    width: 216px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.submit-btn {
    top: 949px;
    left: 341px;
    width: 210px;
    height: 54px;
    background: #3607FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #8317E0;
    border-radius: 18px;
    opacity: 1;
    color: white;
}

.rate-btn {
    padding: 4rem !important;
}

.icon-div {
    margin-right: 1rem;
}

.success-message {
    top: 349px;
    left: 341px;
    background: #D1FFC9 0% 0% no-repeat padding-box;
    border: 1px solid #0ABA5B;
    border-radius: 10px;
    opacity: 1;
    padding: 1rem;
}

.success-text {
    top: 374px;
    left: 356px;
    text-align: left;
    font: normal normal normal 18px/22px Helvetica Neue;
    letter-spacing: 0px;
    color: #04773E;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .submit-btn {
        width: 100%;
    }

    .form {
        padding: 0;
    }
}
</style>
