<template>
    <v-app>
        <v-container>
            <v-row justify="center" align="center">
                <v-col cols="12" align="right">
                    <v-btn @click="logout">Logout</v-btn>
                </v-col>
                <v-col cols="12">
                    <h1 class="text-center">Feedback Results</h1>
                    <h3 v-if="show">You do not have any feedback(s) available at the moment</h3>
                </v-col>
<!--                Complete-->
                <v-expansion-panels accordion v-for="(feedback, index) in feedbacks.complete" :key="index.name">
                    <h3>Complete</h3>
                    <v-expansion-panel
                        v-if="feedback.status"
                    >
                        <v-expansion-panel-header><p>Customer name:  {{feedback.customer_name}}</p></v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-col cols="12">
                                <p>Postcode:  {{feedback.postcode}}</p>

                            </v-col>
                            <v-col cols="12">
                                <p>Phone:  {{feedback.telephone}}</p>

                            </v-col>
                            <v-col cols="12">
                                <p>Job Number:  {{feedback.job_number}}</p>

                            </v-col>
                            <v-col cols="12">
                                <p>Rating:  {{feedback.rating}}</p>
                                <v-btn>Edit rating</v-btn>
                            </v-col>
                            <v-col cols="12">
                                <p>Feedback:  {{feedback.feedback}}</p>
                            </v-col>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>

<!--                Pending-->
                <v-expansion-panels accordion  v-for="(feedback, index) in feedbacks.pending" :key="index">
                    <h3>Pending</h3>
                    <v-expansion-panel
                        v-if="!feedback.status"
                    >
                        <v-expansion-panel-header> <p>Customer name:  {{feedback.customer_name}}</p></v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-col cols="12">
                                <p>Status:  Pending</p>
                                <v-btn @click="updateStatus(feedback.id)">Move to complete</v-btn>
                            </v-col>
                            <v-col cols="12">
                                <p>Postcode:  {{feedback.postcode}}</p>

                            </v-col>
                            <v-col cols="12">
                                <p>Phone:  {{feedback.telephone}}</p>

                            </v-col>
                            <v-col cols="12">
                                <p>Job Number:  {{feedback.job_number}}</p>

                            </v-col>
                            <v-col cols="12">
                                <p>Rating:  {{feedback.rating}}</p>
                                <v-btn @click="openDialog(feedback)">Edit rating</v-btn>
                            </v-col>
                            <v-col cols="12">
                                <p>Feedback:  {{feedback.feedback}}</p>
                            </v-col>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
                <v-dialog v-model="dialog" width="900">
                    <v-card class="pa-8">
                        <div class="text-right">
                            <v-btn icon @click="dialog = false"><v-icon>mdi-close</v-icon></v-btn>
                        </div>
                        <v-card-text>
                            <v-form ref="form" method="post" @submit.prevent="updateRating">
                                <p class="font-bold text-center">Update Feedback</p>
                                <div class="text-center">
                                    <v-progress-circular
                                        v-if="loading"
                                        absolute
                                        indeterminate
                                        color="red"
                                    ></v-progress-circular>
                                </div>
                                <v-row>
                                    <v-col cols="12"  class="icons">
                                        <div v-for="rating in ratings" class="icon-div text-center">
                                            <v-btn icon  @click="updateRating(rating.value)"><img  :src="`/img/${rating.icon}`"></v-btn>
                                        </div>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-dialog>
            </v-row>
        </v-container>
    </v-app>

</template>

<script>
export default {
    data() {
        return {
            show: true,
            ratings: [
                {
                    icon: 'excellent.svg',
                    value: 'Excellent',
                },
                {
                    icon: 'good.svg',
                    value: 'Good',
                },
                {
                    icon: 'average.svg',
                    value: 'Average',
                },
                {
                    icon: 'bad.svg',
                    value: 'Bad',
                },
                {
                    icon: 'awful.svg',
                    value: 'Awful',
                }
            ],
            dialog: false,
            feedbacks: [],
            loading: false,
            feedbackUpdate: {
                status: '',
                rating: ''
            },
            feedback_id: ''
        }
    },

    created() {
        this.getFeedback()
    },

    methods: {
        getFeedback() {
            this.loading = true
            axios.get("get-feedback").then(response => {
                this.loading = false
                this.feedbacks = response.data
                if(this.feedbacks.pending !== 0)
                    this.show = false
            }).catch(error => {
                this.loading = false
                console.log(error.response)
            });
        },

        logout() {
            axios.get("/logout").then(() => (location.href = "/login"));
        },

        updateRating(rating) {
            this.loading = true
            this.feedbackUpdate.rating = rating
            axios.put("update-rating/" + this.feedback_id, this.feedbackUpdate).then(response => {
                this.loading = false
                this.dialog = false
                this.getFeedback()

            }).catch(error => {
                this.loading = false
                console.log(error.response)
            });
        },

        updateStatus(feedback_id) {
            this.feedback_id  = feedback_id
            this.loading = true
            axios.put("update-status/" + this.feedback_id).then(response => {
                this.loading = false
                this.dialog = false
                this.getFeedback()

            }).catch(error => {
                this.loading = false
                console.log(error.response)
            });
        },

        getColor(item) {
            if(item === 'mdi-emoticon')
                return '#0B6623'
            if(item === 'mdi-emoticon-happy')
                return '#C7EA46'
            if(item === 'mdi-emoticon-sad')
                return '#FFF200'
            if(item === 'mdi-emoticon-angry')
                return '#FF0000'

        },

        openDialog(item) {
            this.dialog = true
            this.feedback_id = item.id
            this.feedbackUpdate.status = item.status
            this.feedbackUpdate.rating = item.rating
        },
    }
}
</script>

<style>


.rate-btn {
    height: 6px !important;
    width: 36px !important
}

.v-item-group {
    padding: 1rem !important;
}

/*.v-messages__message, .v-input--has-state.error--text  .v-label, .v-text-field--outlined > .v-input__control {*/
/*    color: red;*/
/*}*/
</style>
